@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

body {
	padding: 30px;
	background-color: #000;
	font-family: "Jost", sans-serif;
}
body::-webkit-scrollbar {
	width: 0px;
}
body::-webkit-scrollbar-track-piece:start {
	background-color: transparent;
}
body::-webkit-scrollbar-track-piece:end {
	background-color: transparent;
}	        

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin: 10px auto 10px auto;
	background: linear-gradient(0deg, #000, #272727);
}  
.card:before, .card:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: -1;
	border-radius: 10px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, 
	#fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear reverse;
}
.card:after {
	filter: blur(10px);
}  
@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}			 	        

.card-contact {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #ffffff;
	font-family: "DM Sans", sans-serif;
	line-height: 1.6;
	cursor: pointer;
}
.card-contact svg {
	flex-shrink: 0;
	width: 30px;
	min-height: 34px;
	margin-right: 12px;
	transition: 0.3s;
	padding-right: 12px;
	border-right: 1px solid #dfe2ec;
}

.secondary-btn a {
	text-decoration: none;
}

.right-nav-ul {
	display: flex;
	justify-content: left;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 2x;
	font-weight: 700;
	list-style: none;
}
.right-nav-ul * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.right-nav-ul a {
	position: relative;
	color: rgba(255, 255, 255, 0.8);
	padding: 0.5rem 1rem;
	margin: 1rem 1rem;
	text-decoration: none;
}
.right-nav-ul a:before,
.right-nav-ul a:after {
	position: absolute;
	height: 15px;
	width: 15px;
	content: '';
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.right-nav-ul a:before {
	right: 0;
	top: 0;
	border-right: 3px solid #ffffff;
	border-top: 3px solid #ffffff;
	-webkit-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}
.right-nav-ul a:after {
	left: 0;
	bottom: 0;
	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	-webkit-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}
.right-nav-ul a:hover {
	color: #ffffff;
}
.right-nav-ul a:hover:before,
.right-nav-ul a.active:before,
.right-nav-ul a:hover:after,
.right-nav-ul a.active:after {
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	opacity: 1;
}

.socialButton {
	margin-top: 20px;
	margin-left: -10px;
	gap: 30px
}

.div_skill {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
	gap: 0;
}
.divSkills>h5,
.divSkills>.container>h6 {
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
}			
.div_skill_line>h6 {
	color: #fff;
}
.div_skill_line {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	width: 80px;
	height: 80px;
	  border-radius: 50%;
	background-color: transparent;
	border: 3px solid rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
.div_skill_line:hover {
	border: 3px solid #0eb7da;
	border-top-color: #0eb7da;
	border-right-color: #0eb7da;
	border-bottom-color: #0eb7da;
	transition:
		  border-top-color 0.15s linear,
		  border-right-color 0.15s linear 0.10s,
		  border-bottom-color 0.15s linear 0.20s;
}