/* General */
body {
	padding: 30px;
	background-color: #000;
	font-family: "Jost", sans-serif;
	-ms-overflow-style: scrollbar;
  	line-height: 1;
  	-webkit-text-size-adjust: none;
  	-webkit-font-smoothing: antialiased;
}
html {
  	box-sizing: border-box;
  	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased; 
}

*, *:before, *:after { box-sizing: inherit; }
body::-webkit-scrollbar { width: 0px; }
body::-webkit-scrollbar-track-piece:start { background-color: transparent; }
body::-webkit-scrollbar-track-piece:end { background-color: transparent; }	        

body, input, select, textarea, button {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.65; 
}

h1, h2, h3, h4, h5, h6 { color: #010521; line-height: 1.1; }
h1 { font-size: 56px; font-weight: bold; }
h2 { font-size: 40px; font-weight: 600; }
h3 { font-size: 36px; font-weight: 400; }
h4 { font-size: 36px; font-weight: 400; }
h5 { font-size: 26px; }
p { font-size: 20px; line-height: 1.5; color: #5d657e; }

.line-helper {
	width: 50%;
	height: 2px;
	border-radius: 2px; 
	background: #ffffff;
	margin: 0px 15px -10px;
}

.normal-grid__column {
	display: flex;
	flex-direction: row;
	align-items: center; 
}
.normal-grid__column h1 { color:#ffffff; }

.card {
	display: flex;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	margin: 10px auto 10px auto;
	background: linear-gradient(0deg, #000, #272727);
}  
.card:before, .card:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	z-index: -1;
	border-radius: 10px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, 
	#fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: steam 20s linear reverse;
}
.card:after { filter: blur(10px); }  			 	        
.card-contact {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	color: #ffffff;
	font-family: "DM Sans", sans-serif;
	line-height: 1.6;
	cursor: pointer;
}
.card-contact svg {
	flex-shrink: 0;
	width: 30px;
	min-height: 34px;
	margin-right: 12px;
	transition: 0.3s;
	padding-right: 12px;
	border-right: 1px solid #dfe2ec;
}

.ptb-100 { padding-top: 100px; padding-bottom: 100px; }

.mtb-100 { margin-top: 100px; margin-bottom: 100px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 30px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }
.mb-60 { margin-bottom: 60px; }
.mb-100 { margin-top: 30px; margin-bottom: 50px; }

.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-45 { margin-right: 45px; }

.z-position { z-index: 10; }

.animate-fadeup { opacity: 0; }
.animate-slide-left { opacity: 0; }
.fade-up { animation: fade-up 1s; }
.fade-in { animation: fade-in 1s; }
.slide-left { animation: slide-left 1s; }

@keyframes slide-left {
  from { opacity: 0.2; transform: translateX(-50px); }
  to { opacity: 1; } 
}
@keyframes fade-up {
  from { opacity: 0.2; transform: translateY(50px); }
  to { opacity: 1; } 
}
@keyframes fade-in {
  from { opacity: 0.2; transform: translateY(-50px); }
  to { opacity: 1; } 
}

@media only screen and (max-width: 789px) {
  .normal-grid__column { justify-content: center; }
}

@media only screen and (max-width: 469px) {
  p { text-align: justify; } 
}

/* Action Buttons and Navigation Button */
.primary-btn, .secondary-btn {
	font-size: 14px;
	font-weight: 600;
	padding: 7px 35px;
	border-radius: 25px;
	border: initial;
	outline: none; 
}
.primary-btn:hover, .secondary-btn:hover { cursor: pointer; }

.primary-btn {
  color: #FFF;
  background-color: #00aeef;
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3); 
}

.secondary-btn {
  background-color: #FFF;
  border: 1px solid #00aeef; 
  box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3); 
}

.secondary-btn a { color: #00aeef; text-decoration: none; }
.secondary-btn a:hover { color: #00aeef; }

.socialButton {
	margin-top: 20px;
	margin-left: -10px;
	gap: 30px
}

.right-nav-ul {
	display: flex;
	justify-content: left;
	align-items: center;
	letter-spacing: 3px;
	font-weight: 700;
	list-style: none;
	text-transform: uppercase;
}
.right-nav-ul * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.right-nav-ul a {
	position: relative;
	color: rgba(255, 255, 255, 0.8);
	padding: 0.5rem 1rem;
	margin: 1rem 1rem;
	text-decoration: none;
}
.right-nav-ul a:before,
.right-nav-ul a:after {
	position: absolute;
	height: 15px;
	width: 15px;
	content: '';
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	opacity: 0;
}
.right-nav-ul a:before {
	right: 0;
	top: 0;
	border-right: 3px solid #ffffff;
	border-top: 3px solid #ffffff;
	-webkit-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}
.right-nav-ul a:after {
	left: 0;
	bottom: 0;
	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	-webkit-transform: translate(100%, -50%);
	transform: translate(100%, -50%);
}
.right-nav-ul a:hover { color: #ffffff; }
.right-nav-ul a:hover:before,
.right-nav-ul a.active:before,
.right-nav-ul a:hover:after,
.right-nav-ul a.active:after {
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	opacity: 1;
}

/* Skills Set Section */
.div_skill {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
	gap: 0;
}
.divSkills>h5,
.divSkills>.container>h6 {
	color: #ffffff;
	font-family: 'Courier New', Courier, monospace;
}			
.div_skill_line>h6 {
	color: #fff;
	font-size: 12px;
}
.div_skill_line {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: transparent;
	border: 3px solid rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
.div_skill_line:hover {
	border: 3px solid #0eb7da;
	border-top-color: #0eb7da;
	border-right-color: #0eb7da;
	border-bottom-color: #0eb7da;
	transition:
		border-top-color 0.15s linear,
		border-right-color 0.15s linear 0.10s,
		border-bottom-color 0.15s linear 0.20s;
}