body {
    margin: 10px;
    padding: 10px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0px;
    padding: 0 0;
}

.navbar-nav li {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1.5px solid #333;
}
.navbar-nav li a {
    color: #333;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}
.navbar-nav li i {
    font-size: 20px;
    margin-right: 22px;
} 
.navbar-nav li:hover {
    background-color: #333;
}
.navbar-nav li a:hover {
    color: #fff;
}
  
.divOutside {
    display: flex;
    flex-wrap: wrap;
}
.divProfile {
    flex: 1 1 300px;
    padding: 60px;
}
.divSection {
    padding: 80px;
    flex: 1 1;
}
.divCircle {
    width: 280px;
    border: 6px solid #333;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2), -5px -5px 25px rgba(0, 0, 0, 0.2);
}

.imgProfile {
    width: 250px;
    border-radius: 100%;
}

/* Style for the parent container */
.divIcon {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%; /* Adjust width as needed */
    cursor: pointer;
}

/* Style for the icon containers */
.secIcon {
    width: 50px;
    height: 50px;
    border: 2px solid black; /* Border around each icon */
    border-radius: 100%;
    padding: 10px; /* Padding inside the border */
    margin: 0 10px 0 0; /* Adjust spacing between icons */
}
.secIcon:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2), -5px -5px 25px rgba(0, 0, 0, 0.2);
}
.secIcon i {
    margin-left: 6px;
    font-size: 16px;
}

.btnDonwload {
    box-shadow: none;
    border: 2px solid #000;
    background: none;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    font-size: 22px;
}
.btnDonwload:hover {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2), -5px -5px 25px rgba(0, 0, 0, 0.2);
}
.btnDonwload a {
    color: #000;
    text-decoration: none;
}
